<div class="form-group">
  <div class="title-div">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required />
  </div>
  <div class="text-div">
    <label for="text">Text:</label>
    <textarea name="text" id="text" required></textarea>
  </div>
  <button class="save-button" type="submit">Save</button>
</div>
