<footer>
    <p>@Copyrights Cone995</p>
    <nav>
      <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div>
      <ul class="social-links">
        <li><a href="#" class="fa fa-facebook"></a></li>
        <li><a href="#" class="fa fa-youtube"></a></li>
        <li><a href="#" class="fa fa-instagram"></a></li>
        <li><a href="#" class="fa fa-reddit"></a></li>
      </ul>
    </div>
  </footer>
</body>
</html>