<%- include("partials/header.ejs") %>
<div class="about-container">
  <div>
    <h2>About us</h2>
    <p>
      This is just about page. This is just dummy text that wass't even thought
      trought.Kind of the same can be told about this blog website that is a
      product of tedious web dev practice and maybe it won't be anything more
      than that, but just as it is already said, yet another blog!
    </p>
  </div>
  <div>
    <img class="about-image" src="images/unsplash.jpg" alt="" />
  </div>
</div>
<%- include("partials/footer.ejs") %>
