<%- include("partials/header.ejs") %>

<div class="contact-container">
  <div class="contact-title">
    <h2>Get in touch! Or perhaps don't. Up to you.</h2>
    <img class="contact-image" src="images/contactus.jpg" alt="" />
  </div>
  <div class="contact-grid">
    <div class="contact-content">
      <img class="svg" src="images/location.svg" alt="" />
      <h3>Address:</h3>
      <p>SomeImaginary road 37 <br />1384 <br />Asker</p>
    </div>
    <div class="contact-content">
      <img class="svg" src="images/phone.svg" alt="" />
      <h3>Phone lines:</h3>
      <p>Line 1: +47 973 02 001<br />Line 2: +47 973 02 002</p>
    </div>

    <div class="contact-content">
      <img class="svg" src="images/email.svg" alt="" />
      <h3>Email:</h3>
      <p>SomeEmail@hotmail.com <br />SomeNewEmail@hotmail.com</p>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") %>
