<%-include("partials/header.ejs") %>
<body>
  <div class="new-form-container">
    <form action="/" method="post">
      <%-include("partials/_form_fields.ejs") %>
    </form>
  </div>
</body>

<%-include("partials/footer.ejs") %>
